__pycache__/
*.py[cod]
.venv/
venv/
*.log
db.sqlite3
app/staticfiles/
.env
.vscode/
.idea/
.DS_Store
pg_data/
uploads/images/*
uploads/videos/*
uploads/documents/*
uploads/thumbnails/*
!uploads/*/.gitkeep
backups/
.ruff_cache/
